<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
	<header>
		<th:block th:replace="fragments/navbar"></th:block>
	</header>
	<main class="mt-3">
		<hr class="bg-exodia hr-2"/>
		<h1 class="text-center text-exodia">Register</h1>
		<hr class="bg-exodia w-25 hr-2"/>
		<form class="mx-auto w-25" th:method="post" th:action="@{/register}">
			<th:block th:each="error : ${errors}">
				<h3 class="text-center text-danger" th:text="${error}"></h3>
			</th:block>
			<div class="form-group">
				<label for="username" class="text-exodia">Username</label>
				<input type="text" class="form-control" id="username" placeholder="Username..." name="username"
				       th:value="${registerModel.username}"/>
			</div>
			<div class="form-group">
				<label for="password" class="text-exodia">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password..." name="password"
				       th:value="${registerModel.password}"/>
			</div>
			<div class="form-group">
				<label for="confirmPassword" class="text-exodia">Confirm Password</label>
				<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password..."
				       name="confirmPassword" th:value="${registerModel.confirmPassword}"/>
			</div>
			<div class="form-group">
				<label for="email" class="text-exodia">Email</label>
				<input type="email" class="form-control" id="email" placeholder="Email..." name="email"
				       th:value="${registerModel.email}"/>
			</div>
			<hr class="bg-exodia hr-2"/>
			<div class="button-holder mt-4 d-flex justify-content-center">
				<button type="submit" class="btn bg-exodia text-white">Register</button>
			</div>
		</form>
		<hr class="bg-exodia hr-2 mt-5"/>
	</main>
	<footer>
		<th:block th:replace="fragments/footer"></th:block>
	</footer>
</div>
</body>
</html>